<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner site-header-inner">
        <div class="site-hero">
          <a href="{{ '/' | absolute_url }}">
            <h1>Software Engineering - Foundation</h1>
          </a>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        </div>

        <a class="site-brand" href="{{ '/' | absolute_url }}">NimbusCoder</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <aside id="sidebar">
          {% include course-nav.html %}
        </aside>

        <section id="main-content">
          {{ content }}
        </section>
      </div>
    </div>

  </body>
</html>
